<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dibang.com"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="CompanyIntroduce"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="DialogActivity"
            android:theme="@style/QuitConfirmDlgTheme" >
        </activity>
        <activity
            android:name="CheckVersionActivity"
            android:theme="@style/QuitConfirmDlgTheme" >
        </activity>
        <activity
            android:name="ContactUs"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="GridShowActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="GalleryShowActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.android.camera.ViewImage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <service android:name=".handle.WebUpdateService" />

        <activity android:name="com.weibo.Front" />
        <activity android:name="com.weibo.MainTabs" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="OAuthActivity"
                    android:scheme="weibo4android" />
            </intent-filter>
        </activity>
        <activity android:name="com.weibo.MainTabs" >
        </activity>
        <activity android:name="com.weibo.Home" >
        </activity>
        <activity android:name="com.weibo.Msg" >
        </activity>
        <activity android:name="com.weibo.SelfInfo" >
        </activity>
        <activity android:name="com.weibo.Square" >
        </activity>
        <activity android:name="com.weibo.More" >
        </activity>
        <activity android:name="com.weibo.WeiboUpdater" >
        </activity>
        <activity android:name="com.weibo.WeiboDetail" >
        </activity>
        <activity android:name="com.weibo.UserInfo" >
        </activity>
        <activity android:name="com.weibo.UserList" >
        </activity>
        <activity android:name="com.weibo.WeiboList" >
        </activity>
        <activity android:name="com.weibo.UserInfoEditor" >
        </activity>
        <activity android:name="com.weibo.CommentList" >
        </activity>
        <activity android:name="com.weibo.PicShower" >
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />

</manifest>